:root {
    --main-color: #0078ff;
}

body {
    background-color: #f5f5f5;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}
/*navbar*/
.navbar {
    color: white;
}

.navbar .navbar-brand {
    font-size: 1.75rem;
    font-weight: 600;
}

.navbar .nav-link {
    color: inherit;
    text-transform: uppercase;
    font-weight: 600;
}
/*navbar*/
/*main*/
main {
    background: url(../images/hero-bg.jpg), linear-gradient(#eb01a5, #d13531);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

main .content {
    color: white;
    font-weight: 600;
}

main .content h1 {
    font-size: 4.5rem;
}

main .content span {
    font-size: 2.5rem;
}
/*main*/
/*title*/
.title {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.subtitle {
    color: #4e4e4e;
    position: relative;
}

.subtitle::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 5px;
    width: 50px;
    bottom: -16px;
    left: 48%;
}
/*title*/
/*section services*/
/*section services*/
/*section Contact*/
.Contact {
    background: url(../images/overlay-bg.jpg), #0078ff;
}
/*section Contact*/
/*footer*/
footer {
    background-color: #0062d3;
    color: white;
}
/*footer*/